/* Tailwind */
@import "tailwindcss";
@import "tw-animate-css";
@config "../tailwind.config.ts";





/* Components Layer */
@layer utilities{
    .main-button{
        @apply bg-gradient-to-r from-[#3e65b0] to-[#4ea8dd] rounded-[8px] text-white;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width:5px;
        height:3px;
        border-radius:2px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-track {
        background:#F1F1F4;
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background:#3e67b1;
        border-radius:50px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background:#7878a3;
    }


    /* Sidebar scrollbar */
    .custom-sidebar-scrollbar::-webkit-scrollbar {
        width:0px;
    }

    /* Number input arrows hiding */
    .remove-arrow::-webkit-inner-spin-button, 
    .remove-arrow::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    } 

    .remove-arrow { 
        -moz-appearance: textfield; 
    } 
}





/* Card font */
@font-face {
    font-family:'OldEnglish';
    src: url('/fonts/Olde English Regular.ttf') format('truetype');
}